button {
    margin-top: 2rem;
    border: none;
    text-decoration: none;
    background-color: $main-text;
    color: $footer;
    font-family: $lobster-cursive;
    border-radius: 15%;
    font-size: 2rem;
}

button:hover {
    color: black;
    background-color: $button-hover;
    cursor: pointer;
}