h1 {
    margin: 30px;
    font-family: $lobster-cursive;
    text-shadow: 5px 0 $text-shadow;
    color: $main-text;
}

p {
    font-size: 2rem;
    color: $main-text;
    font-family: $indie-flower-cursive;
}